<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :userName %><br />
    <br />
    <%= f.text_field :userName %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label "Confirm Password"%><br />
    <br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <br />
    <%= f.text_field :email %>
  </div>

  <% if((session[:userName] != nil) and (session[:loginType] != nil) and (session[:loginType] == 'admin'))%>
        <div class="field">
            <%= f.label :loginType %>
            <%= f.select :loginType, [['admin','admin'],['student','student']] %>
        </div>
  <% else %>
        <div class="field" style="visibility: hidden">
            <%= f.label :loginType %>
            <%= f.select :loginType, [['student','student']] %>
        </div>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>