<p id="notice"><b><%= notice %></b></p>

<fieldset>
  <table>
    <tr>
      <td align="right"><b>UserName : </b></td>
      <td><%= @user.userName %></td>
    </tr>
    <tr>
      <td align="right"><b>eMail : </b></td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td align="right"><b>Login type : </b></td>
      <td><%= @user.loginType %></td>
    </tr>
  </table>

</fieldset>

<br/>
<br/>

<%= link_to image_tag("/assets/back.button.png", :alt => 'back-button-icon'), @user %>