<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field" style="visibility: hidden;">
    <%= f.label :user %><br />
    <%= select("post","user_id",User.find(:all, :conditions => ["userName= ?", session[:userName]]).collect{ |u| [u.userName, u.password, u.email, u.loginType, u.id] }) %>
  </div>
  <div class="field">
    <%= f.label :postString %><br />
    <%= f.text_area :postString, :cols=> "60", :rows => "5" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
