<h1>Reply post</h1>

<div>
  <fieldset style="border-style: solid; border-color: blue">
    <legend><b>Parent Post</b></legend>
    <%= @post.postString %>
  </fieldset>
</div>
<br>
<%= form_tag(posts_createreply_path(:parentPostID => @post.id)) do %>
  <div class="field">
    <p>
        <label for="replyContent">
          Post your reply here:
        </label>
      <br />
        <%= text_area_tag('replyContent') %>
    </p>
    <p>
        <%= submit_tag "Post reply" %>
    </p>
  </div>
<% end %>

<%= link_to image_tag("/assets/cancel.button.png", :alt => 'cancel-icon'), posts_path %>