<p id="notice"><b><%= notice %></b></p>
<br>
<br>

<%= link_to image_tag('/assets/newPost.button.png', :alt => 'new-post-icon'), new_post_path %>
<%= link_to image_tag('/assets/showPosts.button.png', :alt => 'show-post-icon'), posts_path %>
<br/>
<br/>
    <fieldset style="border-style: solid; border-color: blue">
      <legend><b>Parent Post</b></legend>
        <table width = "200" height = "50">
          <tr>
            <td height = 20 width = 40 bgcolor="#f0f0f0" align="center" >
              <%= Vote.find_all_by_post_id(@parentPost.id).length %>
              <% if(session[:userName] != nil) %>
                <br />
                <% if(@parentPost.user_id == User.find_by_userName(session[:userName]).id) %>
                    <div style="background-color: red"><i>Author</i></div>
                <% else %>
                    <%  @findVote = Array.new
                        @findVote = Vote.find_all_by_post_id(@parentPost.id)
                        @foundFlag = false
                        @findVote.each do
                            |vote|
                            if(vote.user_id == User.find_by_userName(session[:userName]).id)
                            @foundFlag = true
                            end
                        end
                    %>
                    <% if(@foundFlag == false) %>
                        <%= link_to image_tag("/assets/like.jpg", :alt => 'like-icon-' + @parentPost.id.to_s()), posts_vote_path(:id => @parentPost.id) %>
                    <% elsif(@foundFlag == true) %>
                        <div style="background-color: green"><i>Voted</i></div>
                    <% end %>
                <% end %>
              <% end %>
            </td>
            <td>

            </td>
            <td>
              <%= @parentPost.postString %>
            </td>
          </tr>
        </table>

      <div align="right">
        <%= User.find(@parentPost.user_id).userName %>

        <% if(session[:userName] != nil) %>
            <% if(@parentPost.user_id == User.find_by_userName(session[:userName]).id) %>
                <%= " | " %>
                <%= link_to image_tag("/assets/edit-icon.png", :alt => 'edit-icon-' + @parentPost.id.to_s()), edit_post_path(@parentPost) %>
            <% end %>

            <% if(session[:loginType] == 'admin') %>
                <%= " | " %>
                <%= link_to image_tag("/assets/delete-icon.png", :alt => 'delete-icon-' + @parentPost.id.to_s()), @parentPost, confirm: 'Are you sure?', method: :delete %>
            <% end %>

            <% if(@parentPost.id == @parentPost.parentPostID) %>
                <%= " | " %>
                <%= link_to image_tag("/assets/reply-icon.gif", :alt => 'reply-icon-' + @parentPost.id.to_s()), posts_reply_path(:id => @parentPost.id) %>
            <% end %>
        <% end %>
      </div>
    </fieldset>

    <br />
    <br />

    <fieldset style="border-style: solid; border-color: #a52a2a">
        <legend><b><%= @childPosts.length %> Replies</b></legend>

        <% if(@childPosts.length == 0) %>
            <div style="color: red">
                No replies for this post.
            </div>

        <% else %>
            <% for i in 0..@childPosts.length-1 %>
                <table width = "200" height = "50">
                  <tr>
                    <td height = 20 width = 40 bgcolor="#f0f0f0" align="center" >
                      <%= Vote.find_all_by_post_id(@childPosts[i].id).length %>
                      <% if(session[:userName] != nil) %>
                        <br />
                        <% if(@childPosts[i].user_id == User.find_by_userName(session[:userName]).id) %>
                            <div style="background-color: red"><i>Author</i></div>
                        <% else %>
                            <%  @findVote = Array.new
                                @findVote = Vote.find_all_by_post_id(@childPosts[i].id)
                                @foundFlag = false
                                @findVote.each do
                                    |vote|
                                    if(vote.user_id == User.find_by_userName(session[:userName]).id)
                                    @foundFlag = true
                                    end
                                end
                            %>
                            <% if(@foundFlag == false) %>
                                <%= link_to image_tag("/assets/like.jpg", :alt => 'like-icon-' + @childPosts[i].id.to_s()), posts_vote_path(:id => @childPosts[i].id) %>
                            <% elsif(@foundFlag == true) %>
                                <div style="background-color: green"><i>Voted</i></div>
                            <% end %>
                        <% end %>
                      <% end %>
                    </td>
                    <td>

                    </td>
                    <td>
                      <%= @childPosts[i].postString %>
                    </td>
                  </tr>
                  </table>

                  <div align="right">
                    <%= User.find(@childPosts[i].user_id).userName %>

                    <% if(session[:userName] != nil) %>
                        <% if(@childPosts[i].user_id == User.find_by_userName(session[:userName]).id) %>
                            <%= " | " %>
                            <%= link_to image_tag("/assets/edit-icon.png", :alt => 'edit-icon-' + @childPosts[i].id.to_s()), edit_post_path(@childPosts[i]) %>
                        <% end %>

                        <% if(session[:loginType] == 'admin') %>
                            <%= " | " %>
                            <%= link_to image_tag("/assets/delete-icon.png", :alt => 'delete-icon-' + @childPosts[i].id.to_s()), @childPosts[i], confirm: 'Are you sure?', method: :delete %>
                        <% end %>
                    <% end %>
                  </div>
              <% if(i != (@childPosts.length-1)) %>
                <hr />
              <% end %>
            <% end %>
        <% end %>
    </fieldset>